/* General */
body {
    background-color: #F7F8FC !important;
}

h2,
h3,
h4,
h5,
p {
    margin: 0 !important;
}

h2,
h3,
h4 {
    letter-spacing: 1px;
}

h4 {
    font-size: 1.5em !important;
    padding: 3vh 0 !important;
}

a {
    font-size: 1.5em !important;
    letter-spacing: 1px;
}

hr {
    color: #f7f8fc82 !important;
}

/* Navigation Bar */
.navbar-toggler {
    border: none !important;
}

.navbar {
    background-color: #363740;
}

#dashboard {
    color: #A4A6B3;
    font-size: 1.8em !important;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}

#dashboard-logo {
    height: 4vh;
}

.search img {
    height: 27px;
}

.notif img {
    height: 32px;
}

.burger img,
.profile img {
    height: 60px !important;
}

.nav-item {
    color: #A4A6B3;
    font-size: 1.8em !important;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-item:hover {
    color: #DDE2FF;
    background-color: #dde2ff0a;
    transition: 300ms ease-in;
}

.active-item {
    color: #DDE2FF;
    border-left: 3px solid #DDE2FF;
    background-color: #dde2ff0a;
}

.nav-icon-active {
    height: 2.1vh;
}

.nav-icon {
    height: 2.1vh;
}

.big-screen {
    display: flex;
    width: 100%;
}

#dashboard {
    border-top: none;
}

.col-sidebar {
    width: 20%;
}

.col-content {
    width: 80%;
}

#sidebar {
    background-color: #363740;
}

.nav-item {
    padding: 2vh 2vw;
}

.col-padding {
    padding: 2vh 0;
}

/* Main */
.name {
    font-size: 1.5em;
}

.number {
    font-size: 3em;
    font-weight: 500;
}

.number-s {
    font-size: 2.4em;
    font-weight: 500;
}

#title {
    font-size: 2em;
    letter-spacing: 1px;
}

h3.card-title {
    font-size: 1.8em;
    color: #9FA2B4;
}

h3.card-title-s,
h5.card-title-s {
    font-size: 1.5em;
    color: #9FA2B4;
}

.card:hover {
    border: 1px solid #3751FF !important;
    cursor: pointer;
    transition: all 300ms ease-in;
    box-shadow: 0 4px 10px rgba(55, 81, 255, 0.5)
}

.card:hover h3,
.card:hover p {
    color: #3751FF !important;
}

ul {
    padding-left: 0 !important;
    margin: 0 !important;
}

.tickets-number {
    font-size: 1.4em;
}

#line-yesterday {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #DFE0EB;
}

#line-today {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #3751FF;
}

.add {
    scale: 95%;
    padding: 1.5%;
    background-color: #F0F1F7;
}

.urgent {
    background-color: #FFCC00;
    padding: 0.5vh 3vw;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
}

.new {
    background-color: #29CC97;
    padding: 0.5vh 3vw;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
}

.default {
    background-color: #F0F1F7;
    padding: 0.5vh 3vw;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 1px;
}

.text-grey {
    color: #9FA2B4;
}

.section-title {
    font-size: 1.8em;
    padding-bottom: 1vh;
}

.col-padding {
    padding: 2vh 0;
}

.py-5 {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}

.form-label {
    font-size: 1.5em;
    letter-spacing: 1px;
}

#exampleInputEmail1 {
    font-size: 1.5em;
    color: #9FA2B4;
}

#exampleInputPassword1 {
    font-size: 1.5em;
    color: #9FA2B4;
}

.form-check-input[type=checkbox] {
    font-size: 2em;
    border-radius: 50% !important;
}

.form-check-label {
    letter-spacing: 1px;
}

.btn-form {
    width: 100%;
    font-size: 1.5em !important;
    letter-spacing: 1px;
}

#trends-side {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trends-side-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}