/* General */
html {
    background-color: #F7F8FC;
}

/* Navigation Bar */
.navbar {
    background-color: #363740;
}
#dashboard {
    color: #A4A6B3;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 3vh 5vw;
}
#dashboard-logo {
    height: 4vh;
    margin-right: 2vw;
}
.nav-item {
    color: #A4A6B3;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 2vh 5vw;
    margin: 0.1vh;
}
.nav-item:hover {
    color: #DDE2FF;
    background-color: #dde2ff0a;
    transition: 300ms ease-in;
}
.active-item {
    color: #DDE2FF;
    border-left: 3px solid #DDE2FF;
    background-color: #dde2ff0a;
}
.nav-icon-active {
    height: 2.1vh;
    margin-right: 5vw;
}
.nav-icon {
    height: 2.1vh;
    margin-right: 6vw;
}